<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show in detail</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <h1>Show in detail post</h1>
        <div>
            <h2><%= post.id %></h2>
            <h3><%= post.userName %></h3>
            <h4><%= post.content %></h4>

            
        </div>
    </div>
</body>
</html>